## with
con with se define un bloque para un objeto definido, el cual se autodestruirá al terminar:

In [ ]:
VALOR = 0

class Object(object):
    
    def __init__(self, value):
        self.value = value
        print(self.value)
    
    def __enter__(self):
        self.value = 1
        print(self.value)
        return self

    def __exit__(self, type, value, tb):
        self.value = 2
        print(self.value)

        
print('VALOR INICIAL:', VALOR)

with Object(VALOR) as o:
    VALOR = o.value
    
print('VALOR FINAL:', VALOR)

# Data Bases
___
## Conexión:
Para conectar con una base de datos se puede usar la librería `records`:

In [ ]:
! pip install records==0.5.2 --trusted-host pypi.python.org
# tarda

In [ ]:
import records

In [ ]:
db = records.Database('sqlite+pysqlite:///db.sqlite3')
rs = db.query("select 1")
db.close()

___
crear una tabla e insertar algunos registros:

In [ ]:
with records.Database('sqlite+pysqlite:///db.sqlite3') as db:
    db.query("DROP TABLE tabla1")
    db.query(
        """
        CREATE TABLE IF NOT EXISTS tabla1 (
            contact_id INTEGER PRIMARY KEY,
            first_name TEXT    NOT NULL,
            last_name  TEXT,
            phone      TEXT    NOT NULL CHECK (length(phone) >= 9) 
        );
        """
    )
    db.query("""INSERT INTO tabla1 (first_name, last_name, phone)
                VALUES('Alejandro', 'Manzanero', '987654321');""")
    db.query("""INSERT INTO tabla1 (first_name, last_name, phone)
                VALUES('Elon', 'Musk', '987654321');""")

___
## Select

In [ ]:
with records.Database('sqlite+pysqlite:///db.sqlite3') as db:
    rs = db.query("select * from tabla1")
    print('1-1:', rs)
    print('2  :', len(list(rs)))  # carga todos los resultados
    
print('1-2:', rs)
print('3  :', rs[0])                # tambien carga los resultados
print('4  :', dict(rs[1]))
print('5  :', rs[0]['first_name'])

___
cuando la query es larga iterar sobre la colección es más eficiente:

In [ ]:
for r in rs:
    print( r['first_name'] )

___
## Update

In [ ]:
with records.Database('sqlite+pysqlite:///db.sqlite3') as db:
    db.query("""UPDATE tabla1 SET first_name = 'Alex'
                WHERE first_name = 'Alejandro';""")
    # db.query("""UPDATE tabla1 SET first_name = 'Alejandro'
    #             WHERE first_name = 'Alex';""")

    rs = db.query("select * from tabla1")
    for r in rs:
        print( r['first_name'] )

___
## Más ejemplos de cadenas de conexión

In [ ]:
db = records.Database('mssql+pymssql://{username}:{password}@{server}:{port}')  # SQL Server (requiere instalar pymssql, pip install pymssql)
db = records.Database('mssql+pymssql://{username}:{password}@{server}\\INSTANCE{n}/{db_name}')
db = records.Database("oracle+cx_oracle://{username}:{password}{server}:{port}/?service_name={service_name}")  # SQL Server (requiere instalar driver oracle)

`records` está basado en SQLAlchemy, se puede encontrar más documntación en: https://docs.sqlalchemy.org/en/13/dialects/mysql.html